# macOS
.DS_Store

# Xcode
*.xcworkspace
*.xcuserstate
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
DerivedData/
build/
*.hmap

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# App artifacts
*.ipa
*.dSYM
*.dSYM.zip

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs y archivos temporales
*.log
*.tmp
*.swp
